<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Shifat.COM | Blog By MH Shifat</title>

  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  {# MEDIUM STYLE EDITOR#}
  <!-- <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8"> -->

  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/medium-editor.min.css' %}" />
  <script src="{% static 'js/medium-editor.min.js' %}"></script>

  {# Custom CSS#}
  <link rel="stylesheet" href="{% static 'css/blog.css' %}" />

  {# Fonts#}
  <!-- <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One"
      rel="stylesheet"
    /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  >

    <!-- markdown added -->
    <link rel="stylesheet" href="{% static 'css/editormd.min.css' %}" />
    <script src="{% static 'js/editormd.min.js' %}"></script>

</head>

<body class="">


  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="intro">
      <img src="{% static 'images/me.jpg' %}" class="img-responsive" alt="Cinque Terre">
      <p class="bio">I am Shifat Love to write Code and learn new Technologies | Linux & information security enthusiast | Full
        Stack Web Developer</p>

      <nav class="navbar navbar-inverse">
        <ul  class="nav navbar-nav navbar">
          <li><a href="https://www.github.com/jspw" class="fa fa-github" ></a></li>
          
          <!-- <li><a href="https://twitter.com/mhshifat757" class="fa fa-twitter-square"></a></li> -->
          <li><a href="https://www.linkedin.com/in/mehedi-hasan-shifat-2b10a4172/" class="fa fa-linkedin-square"></a></li>
          <li><a href="stackoverflow.com/story/jspw" class="fa fa-stack-overflow"></a></li>
          <li><a href="https://www.facebook.com/rio57mh" class="fa fa-facebook-official"></a></li>
          <li><a  href="https://dev.to/mhshifat">
            <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="5hfT's DEV Profile" height="20" width="20">
          </a></li>
        </ul>
      </nav>

      <br>

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="pull-left"><a href="{% url 'about'%}">About</a></li>
            <br>
            <li class="pull-right"><a href = "mailto: amhshifat757@gmail.com">Send Email</a></li>
          </ul>
        </div>
      </nav>

      
    </div>

  </div>



  <div id="main">
    <nav class="navbar navbar-inverse techfont custom-navbar navbar-static-top">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar">

          <li>
            <a style=" cursor: pointer; border-radius: 2px; " onclick="openNav()">&#9776 </a>
          </li>

          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'post_new' %}"><span style="font-size: 30px;border-radius: 5px;">&#128221</span></a>
          </li>

          <li>
            <a href="{% url 'post_draft_list' %}"><span style="font-size: 30px;border-radius: 5px;">&#128190</span></a>
          </li>
          <li>
            <!-- <a href="{% url 'logout' %}">Log out</a> -->
          </li>

          <!-- <li>
              <a>Welcome: {{ user.username }}</a>
            </li> -->
          {% else %}
          <!-- <li><a class='nav navbar-right' href="#" ><span class="glyphicon glyphicon-user"></span></a></li> -->
          {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="navbar-brand bigbrand" href="{% url 'post_list' %}">Shifat.com</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- <span style="font-size: 30px; cursor: pointer;" onclick="openNav()"
        >&#9776;</span
      > -->

    {# The actual blog posts#}
    <div class="content container loader">
      <div class="row">
        <div class="col-md-8">
          <div class="blog_posts">
            {% block content %} {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {# SCRIPTS#}

  <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
  
</body>

</html>